In [17]:
import pandas as pd

In [28]:
df = pd.read_csv("books_dataset.csv", index_col=[0])
df.head()

,ISBN,title,series,author,rating,genre,publish_date,publish_company,format,number_of_pages,publish_month,publish_year,NYT_bestseller,top5,length_of_title,top_authors
0,9781419726552,"F*ck, That's Delicious: An Annotated Guide to ...",0,Action Bronson,4.17,food-and-drink,September 12th 2017,Harry N. Abrams,Hardcover,192,September,2017,1.0,0,57,0
1,9780982301821,10-Day Green Smoothie Cleanse: Lose Up to 15 P...,0,J.J. Smith,4.11,health,February 9th 2014,Adiva Publishing,Paperback,167,February,2014,1.0,0,63,0
2,9780316407076,15th Affair,1,James Patterson,4.09,mystery,May 2nd 2016,Hachette,Hardcover,351,May,2016,1.0,1,11,1
3,9780718088804,42 Faith: The Rest of the Jackie Robinson Story,0,Ed Henry,4.16,biography,April 4th 2017,Harper Collins,Hardcover,368,April,2017,1.0,1,47,0
4,9780451495426,7 Lessons from Heaven: How Dying Taught Me to ...,0,Mary C. Neal,4.08,non-fiction,September 19th 2017,Convergent Books,Paperback,288,September,2017,1.0,0,68,0

In [29]:
df = df.drop('publish_date', 1)

In [30]:
df.head()

,ISBN,title,series,author,rating,genre,publish_company,format,number_of_pages,publish_month,publish_year,NYT_bestseller,top5,length_of_title,top_authors
0,9781419726552,"F*ck, That's Delicious: An Annotated Guide to ...",0,Action Bronson,4.17,food-and-drink,Harry N. Abrams,Hardcover,192,September,2017,1.0,0,57,0
1,9780982301821,10-Day Green Smoothie Cleanse: Lose Up to 15 P...,0,J.J. Smith,4.11,health,Adiva Publishing,Paperback,167,February,2014,1.0,0,63,0
2,9780316407076,15th Affair,1,James Patterson,4.09,mystery,Hachette,Hardcover,351,May,2016,1.0,1,11,1
3,9780718088804,42 Faith: The Rest of the Jackie Robinson Story,0,Ed Henry,4.16,biography,Harper Collins,Hardcover,368,April,2017,1.0,1,47,0
4,9780451495426,7 Lessons from Heaven: How Dying Taught Me to ...,0,Mary C. Neal,4.08,non-fiction,Convergent Books,Paperback,288,September,2017,1.0,0,68,0

In [31]:
df.describe()

,ISBN,series,rating,number_of_pages,publish_year,NYT_bestseller,top5,length_of_title,top_authors
count,1.646000e+03,1646.000000,1646.000000,1646.000000,1646.000000,1646.000000,1646.000000,1646.000000,1646.000000
mean,9.780976e+12,0.394289,3.986938,341.867558,2016.942892,0.334751,0.512151,26.637303,0.030377
std,7.571624e+08,0.488846,0.304662,128.990382,1.677788,0.472047,0.500004,23.457398,0.171674
min,9.780007e+12,0.000000,2.790000,1.000000,1993.000000,0.000000,0.000000,3.000000,0.000000
25%,9.780393e+12,0.000000,3.790000,280.000000,2017.000000,0.000000,0.000000,13.000000,0.000000
50%,9.781102e+12,0.000000,4.010000,336.000000,2017.000000,0.000000,1.000000,18.000000,0.000000
75%,9.781497e+12,1.000000,4.200000,400.000000,2018.000000,1.000000,1.000000,30.000000,0.000000
max,9.789382e+12,1.000000,5.000000,1472.000000,2019.000000,1.000000,1.000000,186.000000,1.000000

In [32]:
print("Number of Rows: ", df.shape[0])
print("Number of Columns: ", df.shape[1])

Number of Rows:  1646
Number of Columns:  15

In [33]:
for col in df.columns:
    print(col)

ISBN
title
series
author
rating
genre
publish_company
format
number_of_pages
publish_month
publish_year
NYT_bestseller
top5
length_of_title
top_authors

In [34]:
len(df[df.duplicated(subset='ISBN') == True])

1

In [35]:
df['genre'].value_counts()

non-fiction            232
fiction                231
fantasy                203
mystery                191
romance                161
young-adult            103
historical              97
sequential-art          57
science-fiction         41
history                 40
thriller                35
childrens               32
politics                23
short-stories           19
poetry                  16
biography               15
horror                  15
contemporary            14
media-tie-in            12
food-and-drink          11
sports-and-games        11
autobiography           10
christian-fiction        7
science                  7
health                   6
womens-fiction           5
colouring-books          5
business                 4
crime                    3
lgbt                     3
religion                 3
leadership               2
european-literature      2
erotica                  2
feminism                 2
adventure                2
music                    2
writing                  2
self-help                2
humor                    2
language                 2
spirituality             1
realistic-fiction        1
art                      1
economics                1
westerns                 1
psychology               1
philosophy               1
couture                  1
dark                     1
holiday                  1
travel                   1
suspense                 1
asian-literature         1
glbt                     1
Name: genre, dtype: int64

In [36]:
df['NYT_bestseller'][df['top_authors']==0].value_counts()

0.0    1074
1.0     522
Name: NYT_bestseller, dtype: int64

In [38]:
df.to_csv('books_datasetv2.csv')